@model IEnumerable<EssentialConnection.Models.TinderEmpresa>

@{
    ViewData["Title"] = "MostrarConnectionsEmpresasCursos";
}


<div class="h-full w-full flex justify-center items-center flex-wrap">
    <div class="hidden h-full lg:flex lg:block w-1/5  bg-indigo-900 justify-center">
        <p>
    </div>
    <div class="w-3/5 mb-4 flex flex-wrap justify-center">
        <p class="text-3xl text-gray-700 uppercase">Empresas que tem interesse em você</p>
        </p>
        @foreach (var item in Model)
        {
            if (item.EmpresaId != null)
            {
                <div class="w-1/2 px-4 mb-4">
                    <div class="h-64 border border-gray-400 lg:border-gray-400 bg-white rounded p-4 flex flex-col justify-between leading-normal">
                        <div style="text-align:center" class="text-gray-900 font-bold text-xl mb-2">@Html.DisplayFor(modelItem => item.NomeEmpresa)</div>
                </div>
                </div>
            }
            else
            {
                <div class="w-1/2 px-4 mb-4">
                    <div class="h-64 border border-gray-400 lg:border-gray-400 bg-white rounded p-4 flex flex-col justify-between leading-normal">
                    <div style="text-align:center" class="text-gray-900 font-bold text-xl mb-2">@Html.DisplayFor(modelItem => item.CursoNome)</div>
                </div>
                </div>
            }
        }
    </div>
    <div class="hidden h-full lg:flex lg:block w-1/5  bg-indigo-900 justify-center">
        
    </div>
</div>