@model EssentialConnection.Models.Compentencias

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-unlock-alt"></i>  Competencias
        </div>
        <div class="panel-body" id="painel-competencias">
            <div class="form-check">
                <div>
                <input class="form-check-input" type="checkbox" value=""">
                <label class="form-check-label" for="flexCheckDefault">
                    Louco
                </label>
                </div>
                <div>
                <input class="form-check-input" type="checkbox" value=""">
                <label class="form-check-label" for="flexCheckDefault">
                    Revoltado
                </label>
                </div>
                <input class="form-check-input" type="checkbox" value=""">
                <label class="form-check-label" for="flexCheckDefault">
                    Cansado
                </label>
                <div>
                <input class="form-check-input" type="checkbox" value=""">
                <label class="form-check-label" for="flexCheckDefault">
                    Burro
                </label>
                </div>
            </div>

        </div>
    </div>
</div>