@page "/Homepage"
@model EssentialConnection.Areas.Home.Pages.IndexModel
@{
    ViewData["Title"] = "Pagina Inicial";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EssentialConnection.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

</head>
<body class = "bg-telainicial">
    <h1 class ="textotitle">Essential Connection</h1>
<div class = "logo">
    <img src = "~/imagens/Logo.png" alt = "logo"/>
</div>
<div>
    <div class = "container caixaLogin">
        <br />
        <p class = "ECSC">Entre com sua conta</p>
        <form class="login" id="account" method="post">        
            <span  class="e6_158">Email</span>
            <div class = "col-md-11">
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="email" class="form-control" placeholder= "Digite seu email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <span class = "e6_158">Senha</span>
            <div class = "col-md-11">
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" type="password" class="form-control" placeholder= "Digite sua senha" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </form>
    </div>
    <div class = "fundo">
        <img src = "/imagens/foto de fundo.png" class = "imgFundo" height = "400" width = "700" />
    </div>
</div>

</body>
