@using Microsoft.AspNet.Identity
<div class="h-full w-full flex justify-center md:justify-between items-center">
    <div class="hidden h-full lg:flex lg:block w-3/5  bg-gradient-to-r from-indigo-800 to-indigo-400 px-10 justify-center">
        <img class="scale-50 object-contain" src="~/imagens/job-unifenas-white.png" />
    </div>
    <div class="w-full lg:w-2/5 px-5 flex flex-col items-center">
        <div class="mb-12">
            <p class="text-3xl text-gray-700">OLÁ, SOMOS A ESSENTIAL CONNECTION </p>
            <P style="text-align:center" class="text-3xl text-gray-700">Ficamos felizes por ter você aqui</P>
        </div>
    </div>
</div>